#!/bin/bash


# See https://cuddly-octo-palm-tree.com/posts/2021-12-12-tyska-direnv/ 

source_env_if_exists .envrc.private


######## ######## ######## ######## ########
# RubyGem terminology: maps Discord API terminology to what the rubygems needs :)
######## ######## ######## ######## ########
export TOKEN="$BOT_TOKEN"
#export CLIENT_ID="$CLIENT_SECRET"
export CLIENT_ID="$APPLICATION_ID"
