#!/bin/bash



# You can override these values..
export GITHUB_REPO='https://github.com/palladius/discord-bot-acts-as-riccardo'


# Inspired by https://cuddly-octo-palm-tree.com/posts/2021-12-12-tyska-direnv/
source_env_if_exists .envrc.private
echo '🟨 Riccardo guarda se riesci a togliere qualcosa. Ce roba che non serve'

echo 'The ENVs I need are: TOKEN,SERVER_ID, CLIENT_ID PEOPLE_PERSONAL_WEBSITES DATABASE_URL SERVER_NAMESERVER_NAME'

######## ######## ######## ######## ########
# RubyGem terminology: maps Discord API terminology to what the rubygems needs :)
######## ######## ######## ######## ########
#export TOKEN="$BOT_TOKEN"
#export CLIENT_ID="$CLIENT_SECRET"
#export CLIENT_ID="$APPLICATION_ID"
