#!/bin/bash


################################################
# Application id + public key
################################################
export APPLICATION_ID='1010101010101010101'
export PUBLIC_KEY='abcdefghijklmnopqrstuvz1234567890abcdefghijklmnopqrstuvz12345678'


# under Bot
export BOT_TOKEN="12345678901230912384049463.G12345.i1235426354523176455472654723654762344"
# https://discord.com/developers/applications/1097532911022002216/oauth2/url-generator

################################################
# OAuth (I dont think its used for the moment)
################################################
#export OAUTH2_CLIENT="1010101010101010101"
#export CLIENT_SECRET="1234567890abcdefghijklmnopqrstuv"

######################################
# Discord Server
export SERVER_ID='1111111111111111111'
export SERVER_NAME="Your description of this server"


export PEOPLE_PERSONAL_WEBSITES="ArrayOf:
FooBar  ::: https://www.midjourney.com/app/users/abcdef12-1234-5678-ed0d-123456789abc/
BazSemp ::: https://www.midjourney.com/app/users/abcdef12-1234-5678-4177-123456789abc/
"

# for your /memento command to write to DB :)
export ENV_DB_URL='mysql2://your-username:your-password@localhost:3306/your-db-name'
